* {
    box-sizing: border-box;
  }
  :root{
      --bg-color: #fff;
      --text-color : rgb(0, 0, 0);
      --input-color: rgb(196, 196, 196);
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0px auto;
    transition: background 0.2s linear;
    color: var(--text-color);
    background-color: var(--bg-color);
  }
  body.dark {
    --bg-color: #292c35;
    --text-color: #fff;
    --input-color: rgb(211, 211, 211);
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .title{
    min-width: 100px;
    padding : 4px 6px;
  }
  form{
      margin: 30px;
      width: 100%;
  }
  input  ,textarea{
      margin: 7px;
      padding:8px;
      width: 100%;
      background-color: var(--input-color);
      border: none;
  }
  .label {
    width: 50px;
    height: 26px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: pink;
  }
  
  .fa-sun {
    color: yellow;
  }

  #confirm{
      max-width: 50vw;
      display: flex;
      flex-direction: column;
  }

  button{
      padding: 10px;
  }